@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer utilities {
  .bg-gradient-circle-1 {
    background: conic-gradient(from 0deg, #ff7c7c, #ff3d3d, #ff7c7c);
  }
  
  .bg-gradient-circle-2 {
    background: conic-gradient(from 0deg, #7c7cff, #3d3dff, #7c7cff);
  }
  
  .bg-gradient-circle-3 {
    background: conic-gradient(from 0deg, #7cff7c, #3dff3d, #7cff7c);
  }
}

